{% load static %}
<div class="sidebar">
        <div class="sidebar-header">
            <!-- <img src="#" style="max-width: 70px;" alt="Logo"> -->
            <h2> Mi escuela</h2>
        </div>
        <!-- Aquí puedes agregar más elementos del sidebar -->
        <div class="sidebar-menu">
            <a href="{% url 'escuela' %}" class="">Escuelas</a>
            <a href="{% url 'persona' %}" class="">Personas</a>
            <a href="{% url 'alumno' %}" class="">Alumnos</a>
            <a href="{% url 'supervision' %}" class="">Supervisiones</a>

        </div>
</div>